body{
	/* background-color: rgb(192,192,192);*/
	background: url(image/identiter.jpg) fixed no-repeat top right, url(image/fonds_gris.jpg);
	}



h1{
	text-align: center;
	
}
h1 + p
{
	text-decoration: underline;
	font-weight: bold;
	text-align: center;
	font-size: 40px;
	font-family: arial, arial black,



}
h2{
		text-decoration: underline;
		text-decoration-color: red;
		color: blue;

}
.image
{
	
	float: right;
}
.dessous{
	clear: both;
}
.gras
{
	text-decoration: underline;
	font-weight: bold;
}